<div class="container-md">
  <div class="container-md mt-5">
    <h4 class="fs-4 fw-bold">Students are viewing</h4>
      <app-dynamic-carousel [courses]="courses" name="first" routename="/course-data"></app-dynamic-carousel>
</div>
<div class="container-md mt-5">
  <h4 class="fs-4 fw-bold">Short Courses for you</h4>
    <app-dynamic-carousel [courses]="ShortCourses" name="shortCourse" routename="/course-data"></app-dynamic-carousel>
</div>
<div class="container-md mt-5">
  <h4 class="fs-4 fw-bold">New Courses</h4>
    <app-dynamic-carousel [courses]="newCourses" name="newCourse" routename="/course-data"></app-dynamic-carousel>
</div>
<div class="container-md">
  <ng-container *ngFor="let item of FilteredList">
   <ng-container *ngIf="item.array.length>0">
    <h4 class="fs-4 fw-bold">{{item.name}} Courses</h4>
    <app-dynamic-carousel [courses]="item.array" [name]="item.name" routename="/course-data"></app-dynamic-carousel>
   </ng-container>
  </ng-container>
</div>
</div>
