<div class="container-fluid bg-dark text-white px-4 ">
    <div class="row py-3">
      <div class="col-12 col-lg-8 col-xl-6 ">
        <div class="d-flex justify-content-between flex-column flex-lg-row ">
          <div>
           <a class="d-block text-decoration-none text-white "  href="" > Udemy Business</a>
           <a class="d-block text-decoration-none text-white "  href="" > Teach on Udemy</a>
           <a class="d-block text-decoration-none text-white "  href="" > Get the app</a>
           <a class="d-block text-decoration-none text-white "  href="" >About us</a>
           <a class="d-block text-decoration-none text-white "  href="" > Contact us</a>
          </div>
          <div>
            <a class="d-block text-decoration-none text-white "  href="" >Careers</a>
            <a class="d-block text-decoration-none text-white "  href="" >Blog</a>
            <a class="d-block text-decoration-none text-white "  href="" >  Help and Support</a>
            <a class="d-block text-decoration-none text-white "  href="" >Affiliate</a>
           <a class="d-block text-decoration-none text-white "  href="" > Investors</a>
          </div>
          <div>
           <a class="d-block text-decoration-none text-white "  href="" > Terms</a>
           <a class="d-block text-decoration-none text-white "  href="" > Privacy policy</a>
           <a class="d-block text-decoration-none text-white "  href="" > Sitemap</a>
           <a class="d-block text-decoration-none text-white "  href="" >Accessibility statement</a>
          </div>
        </div>
      </div>
    </div>
   <div class="d-flex justify-content-between flex-column flex-lg-row py-3">
    <img class="logo"
    src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy-inverted.svg"
    alt="logo of udemy" />
    <div class="text-white d-flex align-self-baseline  align-self-lg-center  ">
        <small>&copy; 2023 Udemy,Inc</small>
    </div>
</div>
</div>